@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: #ffffff;
  --content: #171717;
}

body {
  color: var(--content);
  background: var(--bkg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
