@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: #232323;
  --bkg-dark: #141414;
  --dark: #0f0f0f;
  --content: #ffffff;
  --primary: #dc4040;
  /* --primary: #de4646; */
  --primary-dark: #490000;
  --secondary: #E0B151;
}

body {
  color: var(--content);
  background: var(--bkg);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rotateTitle {
  0% {
    transform: rotateX(90deg); 
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.animate-title {
  animation: rotateTitle 1.2s ease forwards; /* Runs for 1 second */
}